.btn{
    --color: rgb(134, 97, 31);
    --shadow: rgba(56, 41, 14, 0.4);

    &.btn-accept{
        --color: rgb(76, 175, 80);
        --shadow: rgb(29, 70, 30);
    }
    &.btn-cancel{
        --color: #f44336;
        --shadow: #7a1515;
    }

    background-color: var(--color); /* Default */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /* border-radius: 5px; */

    /* Button animation border */
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 5px 0px var(--shadow);
    outline: none;


}


.btn:hover {
    border: none;
    filter: brightness(60%);
    box-shadow: none;
    transform: translateY(4px);
    
}

.btn-accept{
    background-color: #4CAF50;
}

.btn-cancel{
    background-color: #f44336;
}
