.wrapper {
    position: relative;
    width: 300px;
    z-index: 100;

    & aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 25px;
        height: 100%;
        width: 100%;
        padding: 10px;

        color: #eee;
        background: #2c1a0bf1;
        border-radius: 10px;
        border: 5px solid #523004;
        box-shadow: 0 0 10px 5px #000;

        h1 {
            margin: 0;
            font-size: 32px;
            /* prevent new line */
            white-space: nowrap;
        }

        .sprite-preview {
            width: 80%;
            max-width: 150px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 6px solid #5d4c3de6;
            border-radius: 5px;
            
            .sprite {
                width: 100%;
                height: 100%;

                &.pixelated {
                    image-rendering: pixelated;
                }
            }
        }

        .stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;
        }
    }
}


@media (max-width: 1400px) {
    .wrapper {
        aside{
            h1{
                font-size: 1.5em;
            }

            .sprite-preview {
                width: 60%;
            }
        }
    }
}

