
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 600px;
    max-width: 900px;
    background: rgba(71, 65, 57, 0.85);
    border-radius: 10px;
    border: 5px solid #523004;
    box-shadow: 0 0 10px 5px #000;
}

.title {
    font-size: 2.5rem;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 20px;
}

.arcadePanel {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.gameSprites {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation: slideInUp 1s ease;
}

.weapon {
    width: 100px;
    height: 100px;
}

.sprite {
    image-rendering: pixelated;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.playButton {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #ff3300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playButton:hover {
    background-color: #cc0000;
}
