.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-height: 600px;
    max-width: 900px;
    background: rgba(71, 65, 57, 0.85);
    border-radius: 10px;
    border: 5px solid #523004;
    box-shadow: 0 0 10px 5px #000;
}
