.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; Add some gap between grid items */

    width: 100vw;
    height: 100vh;
}

.header {
    grid-column: 1 / span 5; /* Span across all five columns */
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    margin: auto;
}
.game {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.5);
}
