.app {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; Add some gap between grid items */

    width: 100vw;
    height: 100vh;
}

.game {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 5px solid #523004;
    border-radius: 5px;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.9);

    &.hidden {
        display: none;
    }
}

.sub-btn{
    margin-top: 20px;
    text-decoration: underline;
    color: #fff8;

    &:hover {
        cursor: pointer;
        color: #fff;
    }
}


.fallback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}