.ctr-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
    .ctr-player{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        gap: 20px;

        h2{
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

}


.ctr-menu-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.ctr-grid{
    display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        gap: 10px;
        
        
    .ctr-key-up { grid-area: 1 / 2 / 2 / 3; }
    .ctr-key-left { grid-area: 2 / 1 / 3 / 2; }
    .ctr-key-down { grid-area: 2 / 2 / 3 / 3; }
    .ctr-key-right { grid-area: 2 / 3 / 3 / 4; }
    .ctr-key-attack { grid-area: 3 / 1 / 4 / 4; }
}

.ctr-key-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .ctr-key{
        color: #eee;
    }
    .large{
        font-size: 1.4rem;
    }
    .small{
        font-size: 1.6rem;
    }

    .ctr-action{
        font-size: .9rem;
        color: #fff3;
        position: absolute;
        bottom: 5px;
    }
}


.ctr-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .ctr-popup-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #d8af7a;
        padding: 20px;
        border: 5px solid #724100;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;

        display: flex;
        flex-direction: column;

        .ctr-key-span{
            font-size: 1.4rem;
            color: #fffa;
            background: #0002;
            border-radius: 10px;
            margin: 10px 0;
            text-align: center;
            padding: 5px;
        }

        .ctr-popup-buttons{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
}