.credits {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;

    h1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    p{
        text-align: center;
        font-size: 1rem;
        span{
            display: block;
            color: #fff6;
            font-size: .8rem;
            margin-top: 4px;
            font-style: italic;
        }
    }

    a{
        --color: #9740fa;
        color: var(--color);
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

        &:active{
            color: var(--color);
        }

        &:visited{
            color: var(--color);
        }
    }

    .credits-back{
        margin-top: 20px;
    }

}